@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    overflow-x: hidden;
    overflow-y: auto;
}

a{
    text-decoration: none;
}

#bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 1, 3, 0.9)) ,url(/Images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 3rem;
}

.navlinks{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.navlinks a{
    color: #fff;
}

.first-logo{
    width: 40%;
}

.hamburger{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: block;
}

.ri-close-circle-fill{
    display: block;
    font-size: 30px;
    color: #fff;
}

.navlinks{
    background-color: black;
    flex-direction: column;
    position: fixed;
    width: 300px;
    top: 0;
    right: -300px;
    height: 120vh;
    z-index: 10;
    transition: .5s;
    text-align: center;
    margin-top: -7%;
}

.intro{
    margin-top: 110px;
}

.btn-intro{
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.intro-btn{
    padding: 10px 30px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;   
}

.intro-btn:hover{
    background-color: #fff;
    color: black;
    border: none;
    font-weight: 600;
}

#firstSection{
    background-color: #39B54A;
}

.firstSection-Text{
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.counting-Num{
    border-right: 1px solid rgba(255, 255, 255, 0.377) ;
}

.secondSection{
    padding-top: 9rem;
    padding-bottom: 8rem;
}

.secondSection-Text{
    gap: 70px;
}

.second-SectionP{
    margin-left:70px;
    font-weight: 500;
}

#works-img{
    position: relative;
}

.bgWorks{
    background-color: #111111;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.thirdSection{
    padding-top: 9rem;
    padding-bottom: 8rem;
}

#clients{
    background-color: #E6E6E6;
    position: relative;
}

.fourthSection{
    padding-top: 9rem;
    padding-bottom: 5rem;
}

.swiperText{
    width: 75%;
    font-size: 30px;
    font-weight: 400;
    color: #555555;
}

@media screen and (max-width:768px) {
    .second-SectionP{
        margin-left:0px;
    }
}